{% load static %}
<header class="position-relative">
    <nav class="navbar navbar-expand-lg position-relative top-0 w-100">
        <div class="container">
            <a class="navbar-brand  fs-3" id="#top"  href="{% url 'homePage' %}">Selda's</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mt-3 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link  pe-5 fs-4" aria-current="page" href="{% url 'homePage' %}">Home</a>
                    </li>
                   <li class="nav-item">
                        <a class="nav-link pe-5 fs-4" href="{% url 'aboutPage' %}">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pe-5 fs-4" href="{% url 'factoryPage' %}">Factory</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link pe-5 fs-4" href="{% url 'contactPage' %}">Contact </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'orderPage' %}"><i class="fa-solid fa-mug-hot fa-3x" style= "color: gold"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>